<fieldset>
    <legend>All todos :</legend>
    <ul *ngFor = "let todo of todos">
        <li >
            <div class="flex" *ngIf="!editState || itemToEdit.id !== todo.id">
                <div>
                    <h4>{{todo.title}}</h4>
                </div>
                <div>
                    <span  (click)="editTodo($event,todo)">&#x270D; </span>
                    <button (click)="deleteTodo($event,todo)" class="d-btn n-design">x</button>
                </div>
            </div>
            <div  *ngIf="editState && itemToEdit.id == todo.id">
                <form [formGroup] = 'editTodoForm' (ngSubmit)='updateItem($event,todo)'>
                    <fieldset>
                        <input type="text" name='title' formControlName="editTodoTitle" value="{{todo.title}}">
                        <button class='d-btn n-design' type="submit">Edit</button>
                        <button (click)="cancelEdit($event,todo)" class="d-btn n-design">x</button>
                    </fieldset>
                </form>
            </div>
        </li>
    </ul>
    
</fieldset>
