ul {
    width: auto;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: circle;
}
.flex h4 {
    margin-top: 1%;
}

button {
    background-color: #1976d2;
    color: white;
    margin-left: 5px;

}
.d-btn {
    background-color: #1976d2;
    color: white;
    height: 50%;
    border-radius: 2px;
    border: 0;
}

.n-design {
    box-shadow:  inset 2px 2px 1px rgba(255, 255, 255, 0.4), inset -2px -2px 1px rgb(0,0,0, 0.3), 2px 2px 3px #1a1919  ;
}
legend {
    color: rgb(235, 232, 232);
}
h4 {
    color: rgb(235, 232, 232);
 
}